p {
  font-size: 1.125em;
  max-width: 600px;
}

.landing-buttons {
  display: flex;
  flex-direction: row; // keep buttons on the same line
      
  a.button {
    flex: none; // allow buttons to be sized based on their text and padding
    padding: .625em 3.75em;

    @media (max-width: 500px) {
      padding: .625em 2.75em;
    }
  }

  a.button:first-child {
    margin-right: 1rem;
  }
}

