.bg-image {
  height: 100vh;
  background-image: url('../images/home_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  .logo-img {
    max-height: 50px;
    margin-top: 2em;
    position: relative;
    z-index: 2;
  }

  .container {
    flex: 1 1 auto; //make container take up rest of available height
    margin-top: -82px;
    display: flex;
    flex-direction: column;
    justify-content: center; //center content vertically
    position: relative;
    z-index: 1;
  }

  @media (max-width: 900px) {
    background-position: right;
  }
}