

  .wine-card {
    display: inline-block;
    width: 24%;
    margin-right: 1%;
    margin-bottom: 1%;
    padding: 1rem;
    border: $border;
    border-radius: 3px;

    .wine-row {
      display: block;
    }
  }

