.auth-form {
  margin: 1rem 0;
  display: flex; //become flex container
  flex-direction: column; //each form row is on its own line
  align-items: stretch;

  .auth-form-row {
    flex: 1 1 auto;
    display: flex; //become container for inputs
    justify-content: center;

    input[type="email"], 
    input[type="password"], 
    button[type="submit"] {
      padding: 1rem;
      flex: 0 1 500px;
    }

    button {
      box-sizing: content-box
    }
  }
}

.bg-image {
  background-image: url('../images/login_bg.png');
  background-color: $gray;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  //padding-top: 20px;
  margin-top: -60px;
  display: flex;
  justify-content: center; // center vertically on the page

  .auth-container {
    //padding-top: 80px;
    flex: 0 1 500px;
    display: flex;
    flex-direction: column; // give each item its own row
    justify-content: center; // center horizontally on the page
    color: #555;

    h1 {
      margin-bottom: 0;
    }
  }
}