a.wine-card {
  display: grid;
  grid-template-areas: "card-image card-info";
  border: $border;
  border-radius: 5px;
  color: $black;
  background-color: #fff;
  height: 150px;
  width: 330px;
  margin: 1em 0 0 1em;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

  &:hover {
    box-shadow: $box-shadow;
    transition: all .1s ease-in-out;
    text-decoration: none;
  }

  .card-image {
    grid-area: card-image;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
  }

  .card-info {
    grid-area: card-info;
    width: 150px;
    padding: 15px;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;

    h3 {
      font-size: 1em;
      margin: 0;
    }

    span {
      font-size: 0.875em;
    }
  }
}