.wine-feed {
  //margin-bottom: 3rem;

  section {
    padding: 0;
  }

  section:last-child {
    margin-bottom: 3rem;
  }
}

.wine-card-group {
  //height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

@media (max-width: 960px) {
  .wine-card-group {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 1rem;
  }
}

@media (max-width: 700px) {
  .wine-feed section {
    h2 {
      margin-top: 0;
    }

    .wine-card-group a:last-child {
      margin-right: 1rem;
    }
  }
}