.wine-info {
  height: 100vh;
  width: 100vw;
  display: grid;
  //grid-template-rows: repeat(auto-fill, minmax(3.5rem, 1fr));
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  grid-template-areas: 
    "breadcrumbs content"
    "img content";

  .breadcrumbs {
    grid-area: breadcrumbs;
    padding-top: 1rem;
    padding-left: 2rem;
    position: absolute;
    z-index: 2;
  }

  .wine-heading-img-container {
    grid-area: img;
    background-color: $background-gray;
    height: 100vh;
    margin-top: -3.5rem;
    display: flex;
    justify-items: stretch;
    flex-direction: column;

    .wine-img {
      height: 100%; //fill rest of space and center the image inside it
      display: flex;
      justify-content: center;
      align-content: center;

      img {
        max-width: 70%;
        align-self: center;
        justify-self: center;
      }
    }
    
  }

  .wine-content {
    grid-area: content;
    padding-left: 2rem;
    overflow: auto;

    .wine-heading {
      display: flex;
      align-items: flex-end;
      margin-top: 2rem;
      margin-bottom: 2rem;
  
      h1 {
        line-height: 1;
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 0;
      }
  
      .edit-wine-button {
        padding: 0;
        border: 0;
        margin-bottom: 2px;
        background-color: #fff;
  
        &:hover {
          box-shadow: none;
          text-decoration: underline;
        }
      }
    }

    .description-row {
      margin-bottom: 1.5rem;

      .description-label {
        color: $purple-gray;
        font-weight: 700;
      }
    }

    .delete {
        margin-bottom: 2rem;
      }
  }
}

