// button {
//   display: block;
// }

.button, button {
  display: inline-block;
  padding: .625rem 2.8125rem;
  background-color: $background-gray;
  color: $dark-purple;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid $background-gray;
  border-radius: 5px;

  &:hover {
    //background-color: $darker-gray;
    text-decoration: none;
    box-shadow: $box-shadow;
    cursor: pointer;
    transition: all .1s ease-in-out;
  }
}

.open-wine-form {
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.add-wine-btn {
  display: block;
  margin-bottom: 1rem;
  text-align: center;
}

.btn-primary {
  background-color: $purple-pink;
  border: 1px solid $purple-pink;
  color: #fff;

  &:hover {
    //background-color: $dark-purple;
  }
}

.btn-outline {
  background-color: #fff;
  border: 1px solid $purple-pink;
}

.delete {
  color: #fff;
  background-color: $red;
  border: 1px solid $red;
}