.wine-form {
  margin: 1rem 0;
  background-color: #f9f9f9;
  padding: 1rem 3%; 

  .wine-form-container {
    max-width: 700px;
    display: flex; //this is the main flex container
    flex-direction: column; //each field has it's own row

    .wine-form-row {
      flex: 1 1 auto; //grow and shrink, auto fill size
      display: flex; //become flex container for label and input
      flex-direction: row; //make label and input their own column

      label {
        flex: 1 1; //column is 1/3 width, flex-basis 0
        margin-top: .8rem;
      }

      input[type="text"], 
      input[type="date"], 
      input[type="number"], 
      textarea {
        flex: 2 1; //column is 2/3 width, flex-basis 0
      }

      .radio-buttons {
        flex: 2 1; //column is 2/3 width, flex-basis 0
        margin-top: .6rem; //unless I have more radio options, can remove in future
        label {
          margin-top: 0; //unless I have more radio options, can remove in future
        }
      }
    }
  }

  a {
    display: block;
    margin-bottom: 1rem;
  }
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="date"], 
input[type="number"], 
textarea {
  margin-bottom: 1rem;
  border: $border;
  border-radius: 3px;
  padding: .6rem 0 .6rem .6rem;
}

input[type="radio"] {
  margin: .2rem .6rem .2rem 0; //unless I have more radio options, can remove in future
  padding-left: 0;
}

.radio-buttons {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

