$black: #333;

$blue: #367CDF;

$darker-blue: rgb(40, 109, 207);

$purple: #882BDB;

$darker-purple: #7522BE;

$gray: #DEDEDE;

$darker-gray: #CECECE;

$font-heading: 'Playfair Display', serif;

$font-body: 'Helvetica Neue', 'Lato', sans-serif;

$border: 1px solid #ddd;

$box-shadow: 0 2px 4px rgba(0,0,0, .2);