$black: #2B202F;

$blue: #367CDF;

$darker-blue: rgb(40, 109, 207);

// $purple: #882BDB;

// $darker-purple: #7522BE;

$purple-pink: #9C52A7;

$dark-purple: #573D62;

$gray: #DEDEDE;

$darker-gray: #CECECE;

$background-gray: #F3F2F3;

$font-heading: 'Playfair Display', serif;

$font-body: 'Helvetica Neue', 'Lato', sans-serif;

$border: 1px solid #ddd;

$box-shadow: 0 3px 6px 0 rgba(0,0,0, .2);