button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="date"], 
input[type="number"], 
textarea {
  margin-bottom: 1rem;
  border: $border;
  border-radius: 5px;
  padding: .6rem 0 .6rem .6rem;
}

// input[type="radio"] {
//   margin: .2rem .6rem .2rem 0; //unless I have more radio options, can remove in future
//   padding-left: 0;
// }

.radio-buttons {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

