h1.wine-form-heading {
  position: relative;
  z-index: 2;
  padding: 2rem;
  display: inline-block;
}

.wine-form {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: [uploader] 1fr [form] 1fr; 
  margin-top: -157.45px;

  .upload-container {
    grid-column: uploader;
    background-color: $background-gray;
    display: flex;
    justify-content: center;
    align-items: center;

    .upload-image-button {
      color: $purple-black;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
        box-shadow: none;
      }
    }

    .upload-image {
      width: 0.1px;
	    height: 0.1px;
	    opacity: 0;
	    overflow: hidden;
	    position: absolute;
      z-index: -1;

      &:focus + label {
        outline: 1px dotted #000;
	      outline: -webkit-focus-ring-color auto 5px;
      }
    }

    .uploaded-image-container{
      display: flex; 
      flex-direction: column;
      align-items: center;

      img {
        max-height: 500px;
        max-width: 80%; 
      }

      a {
        margin-top: 1rem;
      }
    }
  }

  .normal-form-container {
    grid-column: form;
    padding: 2rem;

    input[type="text"], textarea, .expand-link {
      width: 100%;
      max-width: 24rem;
    }

    input[type="radio"] {
      opacity: 0;
      position: absolute;

      &:focus + label {
        outline: rgba(77, 97, 171, 0.5) auto 3px;
      }

      &:checked + label {
        background-color: #3981ea;
        color: #fff;
      }
    }

    .radio-label {
      font-weight: 400;
      padding: 10px;
      margin-right: 10px;
      background-color: #fff;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
      text-align: center;
      border-radius: 5px;
      //display: inline-block;

      &:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);
        cursor: pointer;
      }

      img {
        width: 75px;
        height: 75px;
        display: block;
      }
    }

    .expand-link {
      display: block;
      margin-bottom: 1rem;
    }

    input[type="submit"] {
      margin-right: 1rem;
    }

  }
}

label {
  display: block;
  font-weight: 700;
}