@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 100%;
  font: inherit;*/
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%; }

html {
  font-size: 16px; }

body {
  background-color: #fff;
  margin: 0;
  font-family: "Helvetica Neue", "Lato", sans-serif;
  color: #2B202F;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  line-height: 1.15;
  margin: 2.75rem 0 1rem; }

h1 {
  font-size: 4.209em;
  color: #554d59;
  font-weight: 900;
  margin-top: 0; }
  @media (max-width: 500px) {
    h1 {
      font-size: 3.157em; } }

h2 {
  font-size: 3.157em;
  color: #573D62;
  margin: 2rem 0 0 1rem;
  font-family: "Helvetica Neue", "Lato", sans-serif; }

h3 {
  font-size: 2.369em; }

h4 {
  font-size: 1.777em; }

h5 {
  font-size: 1.333em; }

a {
  color: #367CDF;
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    cursor: pointer; }

p {
  margin-bottom: 2rem; }

#root .app {
  display: flex;
  flex-direction: column; }

section {
  flex: 1 0 auto;
  padding-top: 0;
  padding-right: 3%;
  padding-bottom: 0;
  padding-left: 3%; }

.button, button {
  display: inline-block;
  padding: .625rem 2.8125rem;
  background-color: #F3F2F3;
  color: #573D62;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid #F3F2F3;
  border-radius: 5px; }
  .button:hover, button:hover {
    text-decoration: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all .1s ease-in-out; }

.open-wine-form {
  font-size: 1.5rem;
  padding: 1rem 2rem; }

.add-wine-btn {
  display: block;
  margin-bottom: 1rem;
  text-align: center; }

.btn-primary {
  background-color: #9C52A7;
  border: 1px solid #9C52A7;
  color: #fff; }

.btn-outline {
  background-color: #fff;
  border: 1px solid #9C52A7; }

.delete {
  color: #fff;
  background-color: #C44A4A;
  border: 1px solid #C44A4A; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
textarea {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: .6rem 0 .6rem .6rem; }

h1.wine-form-heading {
  position: absolute;
  z-index: 2;
  padding: 2rem;
  width: 50%; }
  @media (max-width: 568px) {
    h1.wine-form-heading {
      position: relative;
      width: auto; } }

.wine-form {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: 'uploader form';
  grid-template-columns: repeat(2, 1fr); }
  @media (max-width: 568px) {
    .wine-form {
      grid-template-areas: 'uploader' 'form';
      grid-template-columns: repeat(1, 1fr);
      margin-top: 0;
      height: auto; } }
  .wine-form .upload-container {
    grid-area: uploader;
    height: 100vh;
    background-color: #F3F2F3;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 568px) {
      .wine-form .upload-container {
        height: auto; } }
    .wine-form .upload-container .upload-image-button {
      color: #53445A; }
      .wine-form .upload-container .upload-image-button:hover {
        text-decoration: underline;
        cursor: pointer;
        box-shadow: none; }
    .wine-form .upload-container .display-image-container {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .wine-form .upload-container .display-image-container img {
        max-height: 500px;
        max-width: 80%; }
      .wine-form .upload-container .display-image-container a {
        margin-top: 1rem; }
  .wine-form .normal-form-container {
    grid-area: form;
    padding: 2rem;
    overflow: auto; }
    .wine-form .normal-form-container input[type="text"], .wine-form .normal-form-container textarea {
      width: 100%;
      max-width: 24rem; }
    .wine-form .normal-form-container input[type="radio"] {
      opacity: 0;
      position: absolute; }
      .wine-form .normal-form-container input[type="radio"]:focus + label {
        outline: rgba(77, 97, 171, 0.5) auto 3px; }
      .wine-form .normal-form-container input[type="radio"]:checked + label {
        background-color: #3981ea;
        color: #fff; }
    .wine-form .normal-form-container .radio-buttons {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap; }
      .wine-form .normal-form-container .radio-buttons .radio-label {
        font-weight: 400;
        padding: 10px;
        margin-right: 10px;
        margin-bottom: 1rem;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        border-radius: 5px; }
        .wine-form .normal-form-container .radio-buttons .radio-label:hover {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
          cursor: pointer; }
        .wine-form .normal-form-container .radio-buttons .radio-label img {
          width: 75px;
          height: 75px;
          display: block; }
    .wine-form .normal-form-container .expand-link {
      width: 100%;
      max-width: 24.6rem;
      display: block;
      margin-bottom: 1rem; }
    .wine-form .normal-form-container .form-buttons {
      margin-bottom: 2rem; }
      .wine-form .normal-form-container .form-buttons input[type="submit"] {
        margin-right: 1rem; }

label {
  display: block;
  font-weight: 700; }

.wine-info {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  grid-template-areas: "breadcrumbs content" "img content"; }
  .wine-info .breadcrumbs {
    grid-area: breadcrumbs;
    padding-top: 1rem;
    padding-left: 2rem;
    position: absolute;
    z-index: 2; }
  .wine-info .wine-heading-img-container {
    grid-area: img;
    background-color: #F3F2F3;
    height: 100vh;
    margin-top: -3.5rem;
    display: flex;
    justify-items: stretch;
    flex-direction: column; }
    .wine-info .wine-heading-img-container .wine-img {
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center; }
      .wine-info .wine-heading-img-container .wine-img img {
        max-width: 70%;
        align-self: center;
        justify-self: center; }
  .wine-info .wine-content {
    grid-area: content;
    padding-left: 2rem;
    overflow: auto; }
    .wine-info .wine-content .wine-heading {
      display: flex;
      align-items: flex-end;
      margin-top: 2rem;
      margin-bottom: 2rem; }
      .wine-info .wine-content .wine-heading h1 {
        line-height: 1;
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 0; }
      .wine-info .wine-content .wine-heading .edit-wine-button {
        padding: 0;
        border: 0;
        margin-bottom: 2px;
        background-color: #fff; }
        .wine-info .wine-content .wine-heading .edit-wine-button:hover {
          box-shadow: none;
          text-decoration: underline; }
    .wine-info .wine-content .description-row {
      margin-bottom: 1.5rem; }
      .wine-info .wine-content .description-row .description-label {
        color: #7B737D;
        font-weight: 700; }
    .wine-info .wine-content .delete {
      margin-bottom: 2rem; }

.wine-feed section {
  padding: 0; }

.wine-feed section:last-child {
  margin-bottom: 3rem; }

.wine-card-group {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start; }

a.wine-card {
  display: grid;
  grid-template-areas: "card-image card-info";
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #2B202F;
  background-color: #fff;
  height: 150px;
  width: 330px;
  margin: 1em 0 0 1em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
  a.wine-card:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
    transition: all .1s ease-in-out;
    text-decoration: none; }
  a.wine-card .card-image {
    grid-area: card-image;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px; }
  a.wine-card .card-info {
    grid-area: card-info;
    width: 150px;
    padding: 15px; }
    a.wine-card .card-info h3 {
      font-size: 1em;
      margin: 0; }
    a.wine-card .card-info span {
      font-size: 0.875em; }

.auth-form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  .auth-form .auth-form-row {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start; }
    .auth-form .auth-form-row input[type="text"],
    .auth-form .auth-form-row input[type="email"],
    .auth-form .auth-form-row input[type="password"],
    .auth-form .auth-form-row button[type="submit"],
    .auth-form .auth-form-row input[type="submit"] {
      padding: 1rem;
      flex: 0 1 500px; }
    .auth-form .auth-form-row button, .auth-form .auth-form-row input[type="submit"] {
      box-sizing: content-box; }

.white-overlay {
  content: “ ”; }
  @media (max-width: 900px) {
    .white-overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background: inherit;
      box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.8);
      filter: blur(3px); } }

.grid-container {
  height: 100vh;
  display: flex;
  background-color: #F3F2F3; }
  .grid-container nav {
    flex: 0 0 188px; }
  .grid-container main {
    flex: 1 1 auto;
    overflow: auto; }

nav {
  padding: 40px;
  background-color: #fff; }
  nav .logo-img {
    max-height: 33px;
    margin-bottom: 30px; }
  nav ul li a {
    font-size: 1.125rem;
    color: #53445A; }

.month-list {
  margin-bottom: 3rem; }
  .month-list li {
    padding: .5rem 0; }

p {
  font-size: 1.125em;
  max-width: 600px; }

.landing-buttons {
  display: flex;
  flex-direction: row; }
  .landing-buttons a.button {
    flex: none;
    padding: .625em 3.75em; }
    @media (max-width: 500px) {
      .landing-buttons a.button {
        padding: .625em 2.75em; } }
  .landing-buttons a.button:first-child {
    margin-right: 1rem; }

.bg-image {
  height: 100vh;
  background-image: url("../images/home_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column; }
  .bg-image .logo-img {
    max-height: 50px;
    margin-top: 2em;
    position: relative;
    z-index: 2; }
  .bg-image .container {
    flex: 1 1 auto;
    margin-top: -82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1; }
  @media (max-width: 900px) {
    .bg-image {
      background-position: right; } }
